<!DOCTYPE html>
<html>
<head>
    <title>The Doggo Polls</title>
</head>

{% extends 'base.html' %}

{% block content %}
<body>
<h2>WHO DAT</h2>
<p>Rate your favorite puppers!</p>

<div>

{% for dogvar in dogvars %}
    <p>{{ dogvar.name }}</p>
    <img src='{{dogvar.image_url}}' alt="" height="300"><br>
    <a href="http://localhost:8000/doggos/{{dogvar.id}}">More About {{ dogvar.name }}</a>
<!--     <br>
    <form method="post" action="/submit-my-rating">
        {% csrf_token %}
        <label for="rating">Rating( /10):</label><br>
        <input type="number" name="rate_value" min="10" max="20"><br>
        <input type = submit>
    </div> -->

    <form method="post" action="{% url 'submit_vote'%}">

        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" name="vote_value">Submit Rating</button>

    </form>

{% endfor %}

</div>

</body>

{% endblock content %}
</html>