<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>

{% extends 'base.html' %}


{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again</p>
{% endif %}

<div>
    <h2>Login</h2>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="/login-submit-endpoint">
    {% csrf_token %}
  <label for="fname">email:</label><br>
  <input type="text" name="email"><br>
  <label for="lname">password:</label><br>
  <input type="text" name="password">
  <br>
  <input type="submit" value="Log me in">
</form>


{% endblock content %}
<body>

</body>
</html>