<!DOCTYPE html>
<html>

<head>
    <title>User Database Table</title>
</head>

{% extends 'base.html' %}

{% block content %}

<body>
    <h2>User Table</h2>
    <table border="1">
        <td>USER ID</td>
        <td>FULL NAME</td>
        <td>EMAIL</td>
        <td>BIRTH DATE</td>
        <td>MEMBER SINCE</td>
        <td>LAST LOGIN</td>
        {% for user in users %}
        <tr>
            <td><a href="http://localhost:8000/users/{{user.id}}">{{user.id}}</a></td>
            <td>{{ user.full_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.birth_date|date }}</td>
            <td>{{ user.registration_date|date }}</td>
            <td>{{ user.last_login|date }}</td>
        </tr>

        {% endfor %}
    </table>

</body>

{% endblock content %}
</html>