<!DOCTYPE html>
<html>

{% extends 'base.html' %}

{% block content %}
<head>
    <title>User Database</title>
</head>
<body>
    <h2>User Table</h2>
    <table border="1">
        <td>USER ID</td>
        <td>USERNAME</td>
        <td>FULL NAME</td>
        <td>EMAIL</td>
        <td>BIRTH YEAR</td>
        <td>MEMBER SINCE</td>
        {% for user in users %}
        <tr>
            <td><a href="http://localhost:8000/users/{{user.id}}">{{user.id}}</a></td>
            <td>{{user.username}}</td>
            <td>{{user.fullname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.birth_year}}</td>
            <td>{{user.registration_date}}</td>
        </tr>

        {% endfor %}
    </table>

{% endblock content %}

<!--     <script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");
            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script> -->
</body>
</html>